<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ola.restclient">
      <section name="proxySettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="NUnitTests.Email.From" value="service@saasu.com"/>
    <add key="NUnitTests.Email.To" value="test@saasu.com" />
  </appSettings>

  <ola.restclient>
    <proxySettings>
      <!-- @iisAppName@ is replaced at runtime with the correct application name for the repo branch under test -->
      <add key="baseUri" value="http://localhost:8080/defaultRestApi/" />
      <add key="wsAccessKey" value="BEF2-C26A-3347-4EB1-8166-D4D2-A80E-75A3" />
      <add key="fileUid" value="2" />
      <add key="apiUserEmailAddress" value="api@saasu.com" />
      <add key="MerchantFeeAccountUid" value="299047" />
      <add key="IncTaxTemplateUid" value="154252" />
      <add key="ShippingTemplateUid" value="154249" />
    </proxySettings>
  </ola.restclient>
</configuration>
