<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="ola.restclient">
			<section name="proxySettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>

  <appSettings>
		<add key="NUnitTests.Email.From" value="service@saasu.com"/>
		<add key="NUnitTests.Email.To" value="test@saasu.com" />
	</appSettings>
	
	<ola.restclient>
		<proxySettings>
			<add key="baseUri" value="https://secure.saasu.com/webservices/rest/r1/" />
			<add key="wsAccessKey" value="{your-access-key-here}" />
			<add key="fileUid" value="{your-file-id}" /> 
      <!--Settings below are only for integration tests-->
			<add key="apiUserEmailAddress" value="{user-email-address}" />
			<add key="MerchantFeeAccountUid" value="{merchant-fee-account-id}" />
			<add key="IncTaxTemplateUid" value="{including-tax-template-id}" />
			<add key="ShippingTemplateUid" value="{shipping-template-id}" />
    </proxySettings>
	</ola.restclient>

    <system.diagnostics>
        <switches>
            <!-- to turn off tracing set the value = 0 -->
            <add name="DataMessagesSwitch" value="1" />
        </switches>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="myListener"
                  type="System.Diagnostics.TextWriterTraceListener"
                  initializeData="TextWriterOutput.log" />
            </listeners>
        </trace>
    </system.diagnostics>

</configuration>
